@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #C7B15B;
  --secondary-color: #e8eaed;
  --tertiary-color: #9aa0a6;

  --primary-bg-color: #3E4638;
  --secondary-bg-color: #4C5845;

  --primary-border-color: #2C3128;
  --secondary-border-color: #878F80;
}

body {
  margin: 0;
  background: var(--secondary-bg-color);
  color: var(--secondary-color);

  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 1.5rem;
  background-color: var(--secondary-bg-color);
}

::-webkit-scrollbar-thumb {
  cursor: n-resize;
  border-style: solid;
  border-top-color: var(--secondary-border-color) ;
  border-left-color: var(--secondary-border-color);
  border-right-color: var(--primary-border-color);
  border-bottom-color: var(--primary-border-color);
  background-color: var(--primary-bg-color);
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-bg-color);
}

::-webkit-scrollbar-button  {
  cursor: pointer;
  height: 1.5rem;
  background-color: var(--primary-bg-color);
  border-style: solid;
  border-top-color: var(--secondary-border-color) ;
  border-left-color: var(--secondary-border-color);
  border-right-color: var(--primary-border-color);
  border-bottom-color: var(--primary-border-color);
  background-color: var(--primary-bg-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 8rem;
}

header h1 {
  margin: 0;
  color: var(--primary-color);
}

header > div {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

header > div div:last-child  {
  display: flex;
  gap: 1rem;
}

input[type="text"] {
  color: var(--secondary-color);
  padding: 0.375rem 0.75rem;
  background: var(--primary-bg-color);
  font-family: inherit;
  font-size: 1.5rem;
  transition: all 0.2s ease;
  width: 30rem;
  height: 3rem;
  margin-right: .5rem;

  border-style: solid;
  border-top-color: var(--primary-border-color);
  border-left-color: var(--primary-border-color);
  border-right-color: var(--secondary-border-color);
  border-bottom-color: var(--secondary-border-color);
}

input[type="text"]::placeholder {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--tertiary-color);
}

input[type="text"]:focus {
  outline: none;
  border-style: solid;
  border-top-color: var(--secondary-border-color) ;
  border-left-color: var(--secondary-border-color);
  border-right-color: var(--primary-border-color);
  border-bottom-color: var(--primary-border-color);
}

label {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

label:hover {
  cursor: pointer;
}

label:has(input[type="checkbox"]:checked) {
  color: var(--primary-color);
}

input[type="checkbox"] {
  margin-left: .5rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  accent-color: var(--primary-bg-color);
}

input[type="checkbox"]::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-width: 2px;
  border-style: solid;
  border-top-color: var(--secondary-border-color);
  border-left-color: var(--secondary-border-color);
  border-right-color: var(--primary-border-color);
  border-bottom-color: var(--primary-border-color);
  background-color: var(--secondary-bg-color); 
}

input[type="checkbox"]:checked::after {
  border-top-color: var(--primary-border-color);
  border-left-color: var(--primary-border-color);
  border-right-color: var(--secondary-border-color);
  border-bottom-color: var(--secondary-border-color);
  background-color: transparent;
}

button {
  padding-right: 2rem;
  height: 3rem;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-color);

  border-style: solid;
  border-top-color: var(--secondary-border-color) ;
  border-left-color: var(--secondary-border-color);
  border-right-color: var(--primary-border-color);
  border-bottom-color: var(--primary-border-color);
}

button:active {
  border-style: solid;
  border-top-color: var(--primary-border-color);
  border-left-color: var(--primary-border-color);
  border-right-color: var(--secondary-border-color);
  border-bottom-color: var(--secondary-border-color);
}

main {
  margin-inline: 3rem;
  height: calc(100vh - 8rem - 4rem);
}

section {
  overflow-y: scroll;
  background-color: var(--primary-bg-color);
  padding: 1.5rem;
  height: 100%;
  border-style: solid;
  border-top-color: var(--primary-border-color);
  border-left-color: var(--primary-border-color);
  border-right-color: var(--secondary-border-color);
  border-bottom-color: var(--secondary-border-color);
}

article + article {
  margin-top: 2rem;
}

article {
  position: relative;
  width: 100%;
}

article h2 {
  padding: .5rem;
  color: var(--primary-color);
  width: fit-content;
  background-color: var(--secondary-bg-color);
  margin-block: 0;
  border-width: 3px;
  border-style: solid;
  border-top-color: var(--secondary-border-color) ;
  border-left-color: var(--secondary-border-color);
  border-right-color: var(--primary-border-color);
  border-bottom-color: var(--secondary-bg-color);
  position: relative;
  top: 3px;
  left: 1rem;
}

article div {
  padding: 1rem;
  background-color: var(--secondary-bg-color);
  border-width: 3px;
  border-style: solid;
  border-top-color: var(--secondary-border-color) ;
  border-left-color: var(--secondary-border-color);
  border-right-color: var(--primary-border-color);
  border-bottom-color: var(--primary-border-color);
}

article i {
  color: var(--secondary-color);
}

article p {
  line-height: 1.6;
  color: var(--secondary-color);
}

article a {
  color: var(--primary-color);
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  color: var(--tertiary-color);
  background-color: var(--secondary-bg-color);
  height: 4rem;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  padding: 0;
}

footer ul a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.2s;
}

footer ul a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

/* @media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 1rem;
  }

  header h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  div input {
    width: 90vw;
    font-size: 1.2rem;
  }

  main {
    padding: 0 1rem;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1rem;
    max-width: 70%;
    word-wrap: break-word;
  }

  div input,
  div input::placeholder {
    font-size: 1rem;
  }

  article h2 {
    font-size: 1.3rem;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
  }

  footer {
    display: none;
  }

  button {
    margin-top: 1rem;
  }
} */