@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #C7B15B;
  --secondary-color: #e8eaed;
  --tertiary-color: #9aa0a6;

  --primary-bg-color: #3E4638;
  --secondary-bg-color: #4C5845;

  --primary-border-color: #2C3128;
  --secondary-border-color: #878F80;
}

body {
  margin: 0;
  background: var(--secondary-bg-color);
  color: var(--secondary-color);
  font-family: "Quicksand", sans-serif;
}

header {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  background: var(--secondary-bg-color);
  z-index: 10;
  border-bottom: 1px solid var(--bg-color);
  gap: 1rem;
}

header h1 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 500;
  white-space: nowrap;
  color: var(--primary-color);
}

header div {
  display: flex;
}

input {
  color: var(--secondary-color);
  padding: 0.375rem 0.75rem;
  background: var(--primary-bg-color);

  border-top-color: var(--primary-border-color);
  border-left-color: var(--primary-border-color);
  border-right-color: var(--secondary-border-color);
  border-bottom-color: var(--secondary-border-color);

  font-family: inherit;
  font-size: 1.5rem;
  transition: all 0.2s ease;
  width: 30rem;
  height: 3rem;
  margin-right: .5rem;
}

input::placeholder {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--tertiary-color);
}

input:focus {
  outline: none;
  border-color: var(--primary-color);
}

button {
  padding-right: 2rem;

  border-top-color: var(--secondary-border-color) ;
  border-left-color: var(--secondary-border-color);
  border-right-color: var(--primary-border-color);
  border-bottom-color: var(--primary-border-color);
  
  height: 3rem;

  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-color);
}

button:hover {
  color: var(--primary-color);
}


main {
  overflow-y: scroll;
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 2rem;
  height: calc(100vh - 10rem - 4rem);
  background-color: var(--primary-bg-color);
}

article {
  background: none;
  border-radius: 0;
  padding: 0;
  padding: 0 1rem;
  margin-bottom: 1.25rem;
  box-shadow: none;
  transition: background-color 0.3s ease, border-bottom-color 0.3s ease;
  border-bottom: 1px solid var(--bg-color);
  padding-bottom: 1.5rem;
}

article:hover {
  transform: scale(1.01);
  cursor: pointer;
}

article h2 {
  margin-top: 0;
  font-weight: 600;
  font-size: 1.6rem;
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0.25rem;
  color: var(--primary-color);
}

article p {
  margin: 0.5rem 0;
  line-height: 1.6;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
}

article p strong {
  color: var(--tertiary-color);
  font-weight: 400;
}

article a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 200;
}

article a:hover {
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: var(--tertiary-color);
  background-color: var(--secondary-bg-color);
  padding: 15px 20px;
  font-size: 0.8rem;
}

footer ul {
  color: #9aa0a6;
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

footer ul a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.2s;
}

footer ul a:hover {
  color: var(--accent-color);
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 1rem;
  }

  header h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  div input {
    width: 90vw;
    font-size: 1.2rem;
  }

  main {
    padding: 0 1rem;
  }

  article:hover {
    transform: none;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1rem;
    max-width: 70%;
    word-wrap: break-word;
  }

  div input,
  div input::placeholder {
    font-size: 1rem;
  }

  article h2 {
    font-size: 1.3rem;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
  }

  footer {
    display: none;
  }

  button {
    margin-top: 1rem;
  }
}